{
  "parser": "babel-eslint",
  "extends": "standard",
  "plugins": [
    "react",
    "mocha"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
    },
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "restParams": true,
    "spread": true,
    "experimentalObjectRestSpread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true,
  },
  "globals": {
    "$": true,
    "afterEach": true,
    "before": true,
    "beforeEach": true,
    "describe": true,
    "document": true,
    "expect": true,
    "it": true,
    "jest": true,
    "window": true
  },
  "rules": {
    "block-scoped-var": 2,
    "camelcase": [1, {properties: 'never'}],
    "comma-dangle": 0,
    "comma-style": [1, "last"],
    "comma-spacing": 1,
    "consistent-this": [2, "that"],
    "default-case": 1,
    "eqeqeq": [2, "smart"],
    "guard-for-in": 2,
    "indent": [1, 2],
    "max-len": [1, 100, 4],
    "no-else-return": 1,
    "no-console": 1,
    "no-debugger": 1,
    "no-lonely-if": 1,
    "no-multiple-empty-lines": 1,
    "no-param-reassign": 1,
    "no-plusplus": 1,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-var": 2,
    "no-void": 2,
    "operator-linebreak": [2, "after"],
    "object-curly-spacing": [1, "never"],
    "prefer-const": 1,
    "quotes": [1, "single"],
    "semi": [1, "never"],
    "space-before-function-paren": [1, "never"],
    "spaced-comment": [1, "always"],
    "space-infix-ops": [1],
    "strict": [2, "global"],
    "vars-on-top": 1,
    "wrap-regex": 1,
    "jsx-quotes": [1, "prefer-single"],
    "mocha/no-exclusive-tests": 1,
    "mocha/no-skipped-tests": 1,
    "mocha/no-pending-tests": 1,
    "react/display-name": 1,
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-indent-props": [1, 2],
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-literals": 1,
    "react/jsx-no-undef": 1,
    "react/jsx-pascal-case": 2,
    "react/jsx-sort-props": 0,
    "react/jsx-sort-prop-types": 1,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-deprecated": [1, {"react": "0.14.0"}],
    "react/no-did-mount-set-state": [1, "allow-in-func"],
    "react/no-did-update-set-state": 1,
    "react/no-direct-mutation-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": [1, { "ignore": ["children", "className"]}],
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1,
    "react/sort-comp": [1, {
      "order": [
        "lifecycle",
        "/^on.+$/",
        "/^handle.+$/",
        "/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/",
        "everything-else",
        "/^render.+$/",
        "render"
      ]
    }]
  }
}
